
body {background-color: white;
    font-family: "Ubuntu";
    }

h1 { text-align: center;}
h2 { text-align: center;}
h3 { text-align: center; word-break: break-all;}

table, th, td {
border: 1px solid black;
vertical-align: top;
}

.td_text {
    resize: both;
    overflow: auto;
}


span:hover {
    background: #8cf0ff;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all 1ms ease;
    -moz-transition: all 1ms ease;
    -o-transition: all 1ms ease;
    -ms-transition: all 1ms ease;
    transition: all 1ms ease;
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    -ms-transform: rotate(720deg);
    transform: rotate(720deg);
    /* padding: 1px 1px; */
}


.cardinal{ background:rgb(229, 191, 140)}
.percent{ background:rgb(215, 216, 145)}
.quantity{ background:rgb(171, 179, 59)}
.money{ background:rgb(171, 236, 182)}
.ordinal{ background:rgb(173, 201, 142)}
.fac{ background:rgb(243, 143, 143)}
.facility{ background:rgb(247, 166, 146)}
.gpe{ background:rgb(236, 118, 113)}
.language{ background:rgb(180, 116, 116)}
.loc{ background:rgb(247, 144, 216)}
.norp{ background:rgb(136, 169, 240)}
.person{ background:rgb(171, 212, 231)}
.org{ background:rgb(147, 230, 223)}
.date{ background:rgb(150, 180, 116)}
.time{ background:rgb(126, 238, 132)}
.event{ background:rgb(157, 206, 172)}
.product{ background:rgb(229, 200, 248)}
.law{ background:rgb(234, 171, 240)}
.work_of_art{ background:rgb(195, 169, 243)}


.food_related_term{ background:#83fd5e }
.indirect_verb{ background:#ff9868 }
.direct_verb{ background:#f776fd }
.detected_medium{ background:#7dc7ff }
.WORK_OF_ART{ background:#C8ABFF }




.author{ background:#78C3ED }





.predicted_act_of_reading{
  background-image: repeating-linear-gradient(-45deg,
  transparent 0 10px,
  #add8e6 10px 20px);}
  .predicton_link:link {
      text-decoration: none;
      color:black;
  }


.predicted_medium{
    background-image: repeating-linear-gradient(-45deg,
    transparent 0 10px,
    #f08080 10px 20px);}
    .predicton_link:link {
        text-decoration: none;
        color:black;
    }


.predicted_reader{
  background-image: repeating-linear-gradient(-45deg,
  transparent 0 10px,
  #00e600 10px 20px);}
  .predicton_link:link {
      text-decoration: none;
      color:black;
  }


.predicted_reading_testimony{
  background-image: repeating-linear-gradient(-45deg,
  transparent 0 10px,
  rgb(255, 173, 173) 10px 20px);}
  .predicton_link:link {
      text-decoration: none;
      color:black;
  }


.reading_testimony{
    background-image: repeating-linear-gradient(-45deg,
    transparent 0 10px,
    rgb(255, 173, 173) 10px 20px);}
    .predicton_link:link {
        text-decoration: none;
        color:black;
    }